header {
  margin-top: 40px;
  text-align: center;
  border-bottom: 4px solid $green;
  margin-bottom: 0;
  padding-bottom: 20px;
}

h1.title {
  text-align: center;
  border-bottom: 4px solid $green;
  margin-bottom: 0;
  padding-bottom: 20px;
}

header .logo {
  max-width: 100%;
}
