.live {
  background-color: $red;
  padding: 1em;
  color: #fff;
  border-bottom: 4px solid $green;
}

.live h2 {
  font-size: 25px;
  margin-top: 1em;
  margin-bottom: 1em;
}

.live h2 .btn {
  font-size: 1em;
  padding: 0.3em;
  line-height: 1.17em;
  border-radius: 0;
  color: $blue;

  @include transition(all ease-out 0.5s);

  &:hover {
    background-color: lighten($green, 20%);
  }
}

.live .link {
  color: $blue;
}

.hidden {
  display: none;
}