h3 i { color: $green; }

.container.cfp {
  border-left: 2px solid $green;

  .section-icon {
    color: $green;
    text-align: center;
    height: 100%;
  }

  .section-content {
    border-left: 2px solid $green;
  }

  // Try this again?
  // .row:last-child {
  //   .section-icon { border-bottom: 2px solid $green; }
  // }
}

.submit-action {
  @extend .container;

  padding: 20px 0;
}
