<ul class="contributor-logos">
  <li><a href="http://www.brightcove.com" parent="_blank"><img src="/images/brightcove.png" alt="Brightcove"></a></li>
  <li><a href="http://www.crunchyroll.com" parent="_blank"><img src="/images/crunchyroll.png" alt="Crunchyroll"></a></li>
  <li><a href="http://www.facebook.com" parent="_blank"><img src="/images/facebook.png" alt="Facebook"></a></li>
  <li><a href="http://www.twitch.tv" parent="_blank"><img src="/images/twitch.png" alt="Twitch"></a></li>
  <li><a href="http://www.youtube.com" parent="_blank"><img src="/images/youtube.png" alt="YouTube"></a></li>
  <li><a href="http://www.coursera.org" parent="_blank"><img src="/images/coursera.png" alt="Coursera"></a></li>
  <li><a href="http://www.neon-lab.com" parent="_blank"><img src="/images/neon.png" alt="Neon"></a></li>
  <li><a href="http://www.vidcaster.com" parent="_blank"><img src="/images/vidcaster.png" alt="Vidcaster"></a></li>
  <li><a href="http://www.funnyordie.com" parent="_blank"><img src="/images/funnyordie.png" alt="FunnyOrDie"></a></li>
</ul>
