<div class="row">
  <div class="col-md-offset-3 col-md-6 list-group track-schedule">
    <a href="#" class="list-group-item break">
      8:00am - 9:00am <span class="pull-right">Registration &amp; <i class="fa fa-coffee"></i><i class="fa fa-coffee"></i><i class="fa fa-coffee"></i>
    </a>
    <a href="#" class="list-group-item">
      <span class="list-header">9:00am - 9:15am</span>
      Opening Remarks
    </a>
    <a href="#" class="list-group-item">
      <span class="list-header">9:15am - 10:00am</span>
      <strong>Keynote:</strong> What Idiot Designed This?!
    </a>
    <a href="#" class="list-group-item">
      <span class="list-header">10:00am - 10:30am</span>
      How To Even Camera?
    </a>
    <a href="#" class="list-group-item break">
      10:30am - 10:45am <span class="pull-right">Break</span>
    </a>
    <a href="#" class="list-group-item">
      <span class="list-header">10:45am - 11:15am</span>
      Digital El Mariachi the Beginnings of Cinema Workflows for Online Video
    </a>
    <a href="#" class="list-group-item">
      <span class="list-header">11:15am - 11:45am</span>
      New video coding techniques under consideration for VP10
    </a>

    <a href="#" class="list-group-item break">
      12pm - 1pm <span class="pull-right">Lunch</span>
    </a>

    <a href="#" class="list-group-item">
      <span class="list-header">1pm - 1:45pm</span>
      <i class="fa fa-bolt"></i> Lightning Talks <i class="fa fa-bolt"></i>
    </a>
    <a href="#" class="list-group-item">
      <span class="list-header">1:45pm - 2:15pm</span>
      What's in the box
    </a>

    <a href="#" class="list-group-item break">
      2:15pm - 2:30pm <span class="pull-right">Break</span>
    </a>

    <a href="#" class="list-group-item">
      <span class="list-header">2:30pm - 3pm</span>
      Delivering HDR
    </a>
    <a href="#" class="list-group-item">
      <span class="list-header">3pm - 3:30pm</span>
      Decentralizing Video Streaming
    </a>

    <a href="#" class="list-group-item break">
      3:30pm - 3:45pm <span class="pull-right">Break</span>
    </a>

    <a href="#" class="list-group-item">
      <span class="list-header">3:45pm - 4:15pm</span>
      It's just captions, right? Why does video accessibility matter in the 21st century.
    </a>
    <a href="#" class="list-group-item">
      <span class="list-header">4:15pm - 4:45pm</span>
      <em>Other</em> browser APIs that are going to change video on the web
    </a>

    <a href="#" class="list-group-item break">
      4:45pm - 5pm <span class="pull-right">Break</span>
    </a>

    <a href="#" class="list-group-item">
      <span class="list-header">5pm - 5:45pm</span>
      Surprises! <i class="fa fa-magic"></i><i class="fa fa-beer"></i> (hint: there will be prizes)
    </a>
  </div>
</div>
