<div class="row">
  <div class="col-lg-6">
    <div class="speaker media">
      <div class="media-left">
        <a href="#" class="speaker-img">
          <img class="media-object" src="http://www.gravatar.com/avatar/a561cd4d29738e18d9e565a6265d86ac" alt="Matt Szatmary">
        </a>
      </div>

      <div class="media-body">
        <h4 class="media-heading">Matt Szatmary (<a href="https://twitch.tv">Twitch</a>)</h4>
        <h5>What idiot designed this?!</h5>
        <p>Try-hard Pitchfork gastropub selvage normcore post-ironic. Pitchfork church-key meggings, biodiesel literally disrupt mustache. Chia crucifix DIY Godard tattooed. Quinoa tote bag Pinterest deep v. Cray Vice blog, tilde Kickstarter lumbersexual PBR. Jean shorts heirloom swag actually chambray.</p>
      </div>
    </div>
  </div>

  <div class="col-lg-6">
    <div class="speaker media">
      <div class="media-left">
        <a href="#" class="speaker-img">
          <img class="media-object" src="http://www.gravatar.com/avatar/20c72de4ba052dd0ee21597c6e83cc15" alt="Phil Cluff">
        </a>
      </div>

      <div class="media-body">
        <h4 class="media-heading">Phil Cluff (<a href="https://brightcove.com">Brightcove</a>)</h4>
        <h5>What's in the box?!</h5>
        <p>Kittens, Computers, and Cars. A British BBC veteran who came to a far away land to play with even more video technologies. Inventor of MPAG SASH.</p>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-6">
    <div class="speaker media">
      <div class="media-left">
        <a href="#" class="speaker-img">
          <img class="media-object" src="/images/speakers/heff.jpg" width="80" height="auto" alt="Steve Heffernan">
        </a>
      </div>

      <div class="media-body">
        <h4 class="media-heading">Steve Heffernan (<a href="https://videojs.com">Video.js</a> / <a href="https://brightcove.com">Brightcove</a>)</h4>
        <h5>Other browser APIs that are going to change video on the web</h5>
        <p>Founder of Zencoder - early pioneers in using cloud computing for video transcoding. Creator of Video.js - the original open source html5 video player.</p>
      </div>
    </div>
  </div>

  <div class="col-lg-6">
    <div class="speaker media">
      <div class="media-left">
        <a href="#" class="speaker-img">
          <img class="media-object" src="http://www.gravatar.com/avatar/6305d8dbf86e61a57d0621c5fd5990c8" width="80" height="auto" alt="Steve Robertson">
        </a>
      </div>

      <div class="media-body">
        <h4 class="media-heading">Steve Robertson (<a href="https://youtube.com">YouTube</a>)</h4>
        <h5>Delivering HDR</h5>
        <p>gaah i'll think this up later</p>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-6">
    <div class="speaker media">
      <div class="media-left">
        <a href="#" class="speaker-img">
          <img class="media-object" src="/images/speakers/hadar.png" width="80" height="auto" alt="Hadar Weiss">
        </a>
      </div>

      <div class="media-body">
        <h4 class="media-heading">Hadar Weiss (<a href="https://peer5.com">Peer5</a>)</h4>
        <h5>Decentralizing Video Streaming</h5>
        <p>I'm an Israeli geek. From the beginning of my career in the Israeli Defense Force elite unit, I had a tendency to break and change things. I'm passionate about distributed systems and P2P which brought me to start Peer5 which is a P2P video streaming startup.</p>
      </div>
    </div>
  </div>

  <div class="col-lg-6">
    <div class="speaker media">
      <div class="media-left">
        <a href="#" class="speaker-img">
          <img class="media-object" src="http://www.gravatar.com/avatar/84e60636cb1d3ff939519d01df63a546" width="80" height="auto" alt="Hadar Weiss">
        </a>
      </div>

      <div class="media-body">
        <h4 class="media-heading">Owen Edwards (<a href="https://www.ssbbartgroup.com">SSB BART Group</a>)</h4>
        <h5>It's just captions, right? Why does video accessibility matter in the 21st century.</h5>
        <p>Owen Edwards has long seen technology as a way to build connection, break down barriers, and increase inclusion. With a background ranging from technology development to accessibility research (with a stop-off in accessible recreation - blind snowboarding, anyone?), he focuses on emerging accessibility issues, including media access. Owen is currently a Senior Accessibility Consultant at SSB BART Group in San Francisco.</p>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-6">
    <div class="speaker media">
      <div class="media-left">
        <a href="#" class="speaker-img">
          <img class="media-object" src="http://www.gravatar.com/avatar/02a38167cd521ef1a96069dc17d67fa7" width="80" height="auto" alt="Eliot Miller">
        </a>
      </div>

      <div class="media-body">
        <h4 class="media-heading">Eliot Miller (<a href="https://dacast.com">DaCast</a>)</h4>
        <h5>How to even camera</h5>
        <p>I started doing video production back in 2009, interning at a film school in Canada. At university I kept it up where I could, and got more involved with acting, public speaking and stand-up comedy. After graduating I spent some time teaching English in China, and now I've come to San Francisco to do an internship at DaCast and get involved with the live video streaming world. I love to teach and perform on stage, and I think the lessons that have humour in them stay with people for a very long time.</p>
      </div>
    </div>
  </div>

  <div class="col-lg-6">
    <div class="speaker media">
      <div class="media-left">
        <a href="#" class="speaker-img">
          <img class="media-object" src="/images/speakers/puppy.jpg" width="80" height="auto" alt="Assorted Speakers">
        </a>
      </div>

      <div class="media-body">
        <h4 class="media-heading">And moar! (Assorted)</h4>
        <h5>Lightning talks</h5>
        <p></p>
      </div>
    </div>
  </div>
</div>
