<div class="row">
  <div class="col-lg-6">
    <div class="speaker media">
      <div class="media-left">
        <a href="#" class="speaker-img">
          <img class="media-object" src="http://www.gravatar.com/avatar/a561cd4d29738e18d9e565a6265d86ac" alt="Matt Szatmary">
        </a>
      </div>

      <div class="media-body">
        <h4 class="media-heading">Matt Szatmary (<a href="https://twitch.tv">Twitch</a>)</h4>
        <h5>Keynote: What idiot designed this?!</h5>
        <p>A tongue-in-cheek stroll through the history of video standards.</p>
      </div>
    </div>
  </div>

  <div class="col-lg-6">
    <div class="speaker media">
      <div class="media-left">
        <a href="#" class="speaker-img">
          <img class="media-object" src="/images/speakers/phil-cluff.jpg" alt="Phil Cluff">
        </a>
      </div>

      <div class="media-body">
        <h4 class="media-heading">Phil Cluff (<a href="https://brightcove.com">Brightcove</a>)</h4>
        <h5>What's in the box?!</h5>
        <p>You probably use MP4 containers every day, but do you really know much about what's inside them, and what changes as we start to use FMP4 delivery online? This session will dive into the MP4 atom structure, and how it has evolved for ISO BMFF format for FMP4 content. We'll look at tools you can use to dump, explore and fiddle with information in your (F)MP4s.</p>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-6">
    <div class="speaker media">
      <div class="media-left">
        <a href="#" class="speaker-img">
          <img class="media-object" src="/images/speakers/heff.jpg" width="80" height="auto" alt="Steve Heffernan">
        </a>
      </div>

      <div class="media-body">
        <h4 class="media-heading">Steve Heffernan (<a href="https://videojs.com">Video.js</a> / <a href="https://brightcove.com">Brightcove</a>)</h4>
        <h5>Other browser APIs that are going to change video on the web</h5>
        <p>MSE and EME aren't the only browser technologies that will affect how we deliver, process, and play back video on the web. This talk will explore tangentially related APIs in the early stages and how we can use them to improve (read: complicate) web video.</p>
      </div>
    </div>
  </div>

  <div class="col-lg-6">
    <div class="speaker media">
      <div class="media-left">
        <a href="#" class="speaker-img">
          <img class="media-object" src="http://www.gravatar.com/avatar/6305d8dbf86e61a57d0621c5fd5990c8" width="80" height="auto" alt="Steve Robertson">
        </a>
      </div>

      <div class="media-body">
        <h4 class="media-heading">Steven Robertson (<a href="https://youtube.com">YouTube</a>)</h4>
        <h5>Delivering HDR</h5>
        <p>HDR - awesome buzzword, noticeable lack of consensus around what it means, much less how you can get it into your home. In this talk, we'll go over the state of the industry, make some informed predictions on how things are going to shake out in both the near-term and farther out, and take a look at how you (and your viewers!) can see HDR some time before 2018.</p>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-6">
    <div class="speaker media">
      <div class="media-left">
        <a href="#" class="speaker-img">
          <img class="media-object" src="/images/speakers/hadar.png" width="80" height="auto" alt="Hadar Weiss">
        </a>
      </div>

      <div class="media-body">
        <h4 class="media-heading">Hadar Weiss (<a href="https://peer5.com">Peer5</a>)</h4>
        <h5>Decentralizing Video Streaming</h5>
        <p>Today almost all technology relating to video streaming works on the server-side: ingestion, encoding, packaging, caching, content delivery and more. Video consumption growth and higher bitrates have been creating issues for many video publishers, causing them to explore alternative technological opportunities. New client-side APIs that leverage the end user's capable, untapped computing power are just the solution. We'll talk about the benefits of using client-side solutions instead of server technology and discuss the issues associated with operating this type of architecture.</p>
      </div>
    </div>
  </div>

  <div class="col-lg-6">
    <div class="speaker media">
      <div class="media-left">
        <a href="#" class="speaker-img">
          <img class="media-object" src="/images/speakers/owen-edwards.jpg" width="80" height="auto" alt="Owen Edwards">
        </a>
      </div>

      <div class="media-body">
        <h4 class="media-heading">Owen Edwards (<a href="https://www.ssbbartgroup.com">SSB BART Group</a>)</h4>
        <h5>It's just captions, right? Why does video accessibility matter in the 21st century.</h5>
        <p>Video continues to grow as a major source of online information, education, entertainment, and social engagement. With web content facing increased scrutiny under accessibility regulations including the Americans With Disabilities Act (ADA), Section 508 of the Rehabilitation Act and its upcoming Refresh, and the 21st Century Communications and Video Accessibility Act (CVAA), what do video techologists need to know? Can't we just turn on auto-captions and be done with it??</p>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-6">
    <div class="speaker media">
      <div class="media-left">
        <a href="#" class="speaker-img">
          <img class="media-object" src="/images/speakers/alex-converse.jpg" width="80" height="auto" alt="Alex Converse">
        </a>
      </div>

      <div class="media-body">
        <h4 class="media-heading">Alex Converse (<a href="https://dacast.com">Google</a>)</h4>
        <h5>New video coding techniques under consideration for VP10­ - the successor to VP9</h5>
        <p>Google has recently embarked on an ambitious open-source project to develop a next generation royalty-free video codec VP10 that achieves at least 30-40% bit-rate reduction over the current generation codec VP9. While the project is still in early stages, a set of new coding tools has been added to baseline VP9 to achieve at least about 6% coding gain already over a large enough test set. This talk will provide an in-depth technical overview of these coding tools, along with information on how other parties can be involved in this project.</p>
      </div>
    </div>
  </div>

  <div class="col-lg-6">
    <div class="speaker media">
      <div class="media-left">
        <a href="#" class="speaker-img">
          <img class="media-object" src="/images/speakers/tim-napolean.jpeg" width="80" height="auto" alt="Tim Napoleon">
        </a>
      </div>

      <div class="media-body">
        <h4 class="media-heading">Tim Napoleon</h4>
        <h5>Digital El Mariachi the Beginnings of Cinema Workflows for Online Video</h5>
        <p>What El Mariachi did over 20 years ago making a film with a budget of 40K as a catalyst to launch independent cinema mainstream is happening again online. We'll challenge the audience to move past the term "broadcast quality" as the benchmark to beat for online video. Technology advances have now made it possible to make cinematic workflows practical for almost any video professional. We will focus on how to create a chain of command from pre-production to distribution that puts your content on a level playing field in terms of production value with the largest production companies in the world.</p>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-6">
    <div class="speaker media">
      <div class="media-left">
        <a href="#" class="speaker-img">
          <img class="media-object" src="http://www.gravatar.com/avatar/02a38167cd521ef1a96069dc17d67fa7" width="80" height="auto" alt="Eliot Miller">
        </a>
      </div>

      <div class="media-body">
        <h4 class="media-heading">Eliot Miller (<a href="https://dacast.com">DaCast</a>)</h4>
        <h5>How to even camera</h5>
        <p>Ever stood there, with that lump of metal and flashing buttons in your hands, turned it over and said to yourself: "How do I even 'camera'?" We'll cover the basics of filmography, covering composition, lights and a bundle of cool tripod tricks in a fun and engaging way (Yes, there are "cool" things you can do with tripods).</p>
      </div>
    </div>
  </div>

  <div class="col-lg-6">
    <div class="speaker media">
      <div class="media-left">
        <a href="#" class="speaker-img">
          <img class="media-object" src="/images/speakers/puppy.jpg" width="80" height="auto" alt="Assorted Speakers">
        </a>
      </div>

      <div class="media-body">
        <h4 class="media-heading">And moar! (Assorted)</h4>
        <h5>Lightning talks</h5>
        <p>We're opening the floor for lightning talks! We've already confirmed some of the best submissions we got, which include Seam Carving, a personal apology to vertical video, Getting Started with ExoPlayer, Surviving the Flash-pocalypse, and more!</p>
      </div>
    </div>
  </div>
</div>
