<h1 class="title">Speaker Deadline Approaching! <a href="https://docs.google.com/forms/d/1Uf-1Herigb9vDIo1_U0yvt0ExYYQYMa7BZHikF9kwtw/viewform?usp=send_form" class="btn btn-primary">Submit a talk!</a></h1>


<section class="register text-center">
  <h1><u>The</u> conference for video engineers.</h1>
  <h2>
    <span class="item-group"><i class="fa fa-calendar"></i> October 1, 2015</span> <a href="#" class="btn btn-success btn-lg">Register Now</a>
  </h2>
  <h3>Graciously hosted by <a href="http://crunchyroll.com" parent="_blank">Crunchyroll</a> in downtown San Francisco</h3>
</section>

<section class="container">
  <h1 class="page-header">About</h1>
  <p>
    To be terribly honest, we're simply engineers talking about video technology. After two years of chatting about video at the
    <a href="http://sfvideo.org" parent="_blank">SF Video Technology Meetup</a>, we've decided it's time for an engineer-first
    event with quality <strong>technical</strong> talks about video. Our focus is on video delivered over the web, but topics
    cover anything from encoding to playback and more!
  </p>

  <h3>Our guiding principles</h3>
  <p>
    Because of our dissatisfaction with other video-centric events, we think it's important to enumerate exactly what we think
    this event is all about. Most of this obviously goes for the SF Video Tech Meetup as well.
  </p>

  <p>
    <strong>No Marketing</strong>. Speakers are selected based on merit, not how much money their company paid. To be clear, that means speaking slots aren't
    for sale. Attendee information is also not for sale, and that includes any sponsors.
  </p>

  <p>
    <strong>Affordable</strong>. We want anyone in the industry to be able to come! In order to do that, we keep tickets reasonably priced through amazing
    sponsors and corporate backing from our employers. Working on some great open source project that still can't afford to send you?
    Please <a href="mailto:sfvidtech@gmail.com">reach out</a> and we'll find a ticket for you.
  </p>

  <p>
    <strong>For <u>everyone</u> in the industry</strong>. Standards make things...standard, so we're adopting the
    <a href="http://confcodeofconduct.com/" parent="_blank">Conf Code of Conduct</a> for the event. TL;DR: don't be an ass, we'll kick you out.
  </p>

  <p>
    <strong>Community</strong>. We strive for high quality, technical content, but just as importantly we're trying to use these
    events to strengthen our community of video engineers, both in the Bay and at large.
  </p>

  <h3>Who's organizing this?</h3>
  <p>
    Most of the boring work is being done by:
    <ul>
      <li>Matthew McClure (<a href="http://twitter.com/matt_mcclure" parent="_blank">@matt_mcclure</a>)</li>
      <li>Steve Heffernan (<a href="http://twitter.com/heff" parent="_blank">@heff</a>)</li>
    </ul>

    Important questions should be sent to the conference email
  </p>

  <p>
    This event is run with the help of the members of the SF Video Technology Meetup. We're incredibly lucky to have built up a community of engineers
    that work on some of the best video products on the web.
  </p>

  <ul class="contributor-logos">
    <li><a href="http://www.brightcove.com" parent="_blank"><img src="/images/brightcove.png" alt="Brightcove"></a></li>
    <li><a href="http://www.crunchyroll.com" parent="_blank"><img src="/images/crunchyroll.png" alt="Crunchyroll"></a></li>
    <li><a href="http://www.facebook.com" parent="_blank"><img src="/images/facebook.png" alt="Facebook"></a></li>
    <li><a href="http://www.twitch.tv" parent="_blank"><img src="/images/twitch.png" alt="Twitch"></a></li>
    <li><a href="http://www.youtube.com" parent="_blank"><img src="/images/youtube.png" alt="YouTube"></a></li>
  </ul>
</section>
