<% if(true) { %>
<section class="live text-center hidden">
  <h2>
    <a href="live.html" parent="_blank" class="btn btn-success btn-lg">Watch Live Stream Now!</a>
  </h2>
</section>
<% } %>

<section class="register text-center">
  <h1><u>The</u> conference for video engineers.</h1>
  <h2>
    <span class="item-group"><i class="fa fa-calendar"></i> October 1, 2015</span>
    <a href="http://tickets.demuxed.com" parent="_blank" class="btn btn-success btn-lg">Register Now</a>
  </h2>
  <h3>Graciously hosted by <a href="http://crunchyroll.com" parent="_blank">Crunchyroll</a> in downtown San Francisco</h3>
</section>

<section id="speakers" class="container">
  <h1 class="page-header">Speakers</h1>

  <%- partial("_speakers") %>
</section>

<section id="schedule" class="container">
  <h1 class="page-header">Schedule</h1>
  <p>The specifics of the schedule are subject to change.</p>

  <%- partial("_schedule") %>
</section>

<section id="location" class="container">
  <h1 class="page-header">Location</h1>

  <p>Hosted by <a href="http://crunchyroll.com" parent="_blank">Crunchyroll</a> in downtown San Francisco near the Westfield Mall.</p>

  <p>
    835 Market St<br>
    San Francisco, CA 94105
  </p>

  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1576.6070301129669!2d-122.40650880000001!3d37.78502290000001!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x808580860f9329c5%3A0xcae9793af1a4c580!2s835+Market+St%2C+San+Francisco%2C+CA+94103!5e0!3m2!1sen!2sus!4v1438547604126" width="100%" height="300" frameborder="0" style="border:0;pointer-events:none;" allowfullscreen></iframe>
</section>

<section id="party" class="container">
  <h1 class="page-header">After Party - Sponsored by <a href="https://facebook.com" parent="_blank">Facebook</a></h1>

  <p>
    The after party is at <a href="http://www.victoryhallsf.com/">Victory Hall</a>. There will be food and plenty of
    refreshments, with festivities kicking things kicking off at 6:30pm. Come celebrate with us!
  </p>

  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3153.478108280081!2d-122.39407199999998!3d37.778833700000014!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x808f7fd638d6714f%3A0x16599b807a0ae32f!2sVictory+Hall+%26+Parlor!5e0!3m2!1sen!2sus!4v1443739688349" width="100%" height="300" frameborder="0" style="border:0;pointer-events:none;" allowfullscreen></iframe>
</section>

<section id="about" class="container">
  <h1 class="page-header">About</h1>
	<img src="images/steve-talk.jpg" style="width: 100%; margin-bottom: 2em;">
  <p>
    To be terribly honest, we're simply engineers talking about video technology. After two years of chatting about video at the
    <a href="http://sfvideo.org" parent="_blank">SF Video Technology Meetup</a>, we've decided it's time for an engineer-first
    event with quality <strong>technical</strong> talks about video. Our focus is on video delivered over the web, but topics
    cover anything from encoding to playback and more!
  </p>

  <h3>Our guiding principles</h3>
  <p>
    <strong>No Marketing</strong>. Speakers are selected based on merit, not how much money their company paid. To be clear, that means speaking slots aren't
    for sale. Attendee information is also not for sale, and that includes any sponsors.
  </p>

  <p>
    <strong>Affordable</strong>. We want anyone in the industry to be able to come! In order to do that, we keep tickets reasonably priced through amazing
    sponsors and corporate backing from our employers. Working on some great open source project that still can't afford to send you?
    Please <a href="mailto:sfvidtech@gmail.com">reach out</a> and we'll find a ticket for you.
  </p>

  <p>
    <strong>For <u>everyone</u> in the industry</strong>. In keeping with our love for reasonable standards, we're adopting the
    <a href="http://confcodeofconduct.com/" parent="_blank">Conf Code of Conduct</a> for the event. Have any questions or concerns? There will be people wearing t-shirts at the event that mark them as
    volunteers or organizers, any of whom can either help or find someone that can. If you prefer, you can also <a href="mailto:info@demuxed.com">email us</a> directly at any time.
  </p>

  <p>
    <strong>Community</strong>. We strive for high quality, technical content, but just as importantly we're trying to use these
    events to strengthen our community of video engineers, both in the Bay and at large.
  </p>

  <h3>Who's organizing this?</h3>
  <p>
    Most of the boring work is being done by engineers from <a href="http://brightcove.com" parent="_blank">Brightcove</a>, but there was an amazing group of people
    from the meetup that we called our "Braintrust." They've been nice enough to do things like schedule planning, vetting the conference name, designing cool swag,
    and even arguing heatedly over which talk submissions should make the final cut.
  </p>

  <p>
    This event is run with the help of the members of the SF Video Technology Meetup. We're incredibly lucky to have built up a community of engineers
    that work on some of the best video products on the web.

    <h4 class="text-center">SF Video is made up of engineers working on amazing products such as...</h4>

    <%- partial("_contributors") %>
  </p>
</section>

<p>
  8==D~~
</p>
