<section class="player text-center container">
  <video
    data-account="1924997959001"
    data-player="1e01e34f-1ade-4807-8bb9-80d7f24853a5"
    data-embed="default"
    id="livePlayer"
    class="video-js" controls></video>
  <script src="//players.brightcove.net/1924997959001/1e01e34f-1ade-4807-8bb9-80d7f24853a5_default/index.min.js"></script>
  <script src="/js/player.js"></script>
</section>