@mixin transition($string) {
  -webkit-transition: $string;
  -moz-transition: $string;
  -o-transition: $string;
  transition: $string;
}

@mixin box-shadow($string) {
  -webkit-box-shadow: $string;
  -moz-box-shadow: $string;
  box-shadow: $string;
}
